# Ignore Gradle project-specific cache directory
.gradle

.idea

# Gradle files
build/
out/
gradle/
gradle/wrapper/

# Operating System
*.DS_Store
Thumbs.db

# Compiled files
*.class

# Logs and temp files
*.log
*.tmp
